<div #container class="container">
  <div class="clickable back" routerLink="/dashboard">
    <i class="bi bi-arrow-return-left"></i> voltar
  </div>
  <div class="title">
    {{indicator?.title}}
    <div class="subtitle" [innerHtml]="indicator?.description"></div>
  </div>
  <br>
  <ngx-charts-bar-vertical-2d #graphic
    [view]="[container.offsetWidth / 1.06, 250]"
    [scheme]="colorScheme"
    [results]="indicator?.source"
    [legendTitle]="indicator?.title"
    [legend]="showLegend"
    [gradient]="gradient"
    [xAxis]="showXAxis"
    [yAxis]="showYAxis"
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel"
    [yAxisLabel]="yAxisLabel"
    [yScaleMax]="indicator?.configuration?.maxY"
    [legendPosition]="'below'"
    [barPadding]="2"
    [groupPadding]="4">
  </ngx-charts-bar-vertical-2d>
</div>
