@import "../../../_shared/css/pages.scss";

@media (max-width: 900px){
  .state-toolbar {
    padding-top: 0.5em;

    a {
      .subtitle {
        font-size: 8px;
      }
      margin-right: 0.5em;
      width: 100%;
    }
  }

  .progress-bar {
    font-size: 8px !important;
  }
}

.container:first-child {
  padding-top: 2em;
}

.input {
  border: 1px;
}


div.input > .subtitle > i {
  padding-right: 0.5em;
}

.progress {
  height: 3em;

  .CANCELADO {
    background-color: red;
    color: white;
  }

}

.selected {
  border: 3px solid #e8e51e;
}

ul {
  padding-top: 1em;
}

.comment {
  border: 1px solid #f8f9fa;
  border-radius: 10px !important;
}

div.show {
  display: block;
}

.modal-header {
  background: #124f20;
  color: white;
  align-items: center;

  .close {
    color: white;
  }

  .subtitle{
    color: white;
    font-size: x-small;
  }
}

a .subtitle {
  color: white;
  font-size: xx-small;
}

.header {
  font-size: x-small;
}

.actual {
  background: blue;
}

.old {
  background: gray;
}

.list-group {
  width: 100%;
}

.high {
  background: red;
  color: white;
}

.medium-high {
  background: rgb(216, 112, 112);
  color: white;
}

.medium {
  background: blue;
  color: white;
}

.medium-low {
  background: gray;
  color: white;
}

.low {
  background: lightgray;
  color: black;
}
