@import "../../../_shared/css/pages.scss";

@media (max-width: 900px){
  .state-toolbar {
    padding-top: 0.5em;

    a {
      .subtitle {
        font-size: 8px;
      }
      margin-right: 0.5em;
    }

  }

  .detail {
    font-size: 10px !important;
  }

  .progress-bar {
    font-size: 8px !important;
  }
}

.state-toolbar {
  a {
    width: 100%;
  }
}

.container:first-child {
  padding-top: 2em;
}

.input {
  border: 1px;

  .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }
}


div.input > .subtitle > i {
  padding-right: 0.5em;
}

.progress {
  height: 3em;
}

.selected {
  border: 3px solid #e8e51e;
}

ul {
  padding-top: 1em;
}

.comment {
  border: 1px solid #f8f9fa;
  border-radius: 10px !important;
}

div.show {
  display: block;
}

.modal-header {
  background: #124f20;
  color: white;
  align-items: center;

  .close {
    color: white;
  }

  .subtitle{
    color: white;
    font-size: x-small;
  }
}

a .subtitle {
  color: white;
  font-size: xx-small;
}

.header {
  font-size: x-small;
}

.right {
  float: right;
}

.left {
  float: left;
}

.old {
  background: gray;
}

.list-group {
  width: 100%;
}

.high {
  background: red;
  color: white;
}

.medium-high {
  background: red;
  color: white;
}

.medium {
  background: blue;
  color: white;
}

.medium-low {
  background: gray;
  color: white;
}

.low {
  background: lightgray;
  color: black;
}

.btn-danger {
  margin-bottom: 0.5em;
  font-size: x-small;
}

.PRAZO {
  background: #0ad60a;
}

.ATRASADO {
  background: red;
}

.minor {
  font-size: 10px !important;
}

.medium {
  font-size: 16px !important;
}
