<div class="container">
  <div class="clickable back" (click)="goBack()">
    <i class="bi bi-arrow-return-left"></i> voltar
  </div>

  <div class="input">
    <div class="row">
      <div class="col-md-10">
        <div class="subtitle">
          <span class="header left">
            [{{project?.department}}] | criado em {{project?.created | date: 'dd/MM/yyyy'}}
          </span>
          <span class="header right">Prazo: {{project?.expiresIn | date: 'dd/MM/yyyy'}}</span>
        </div>
        <br>
        <h4>
          <span [class]="project?.priority"><i class="bi bi-{{getPriorityClass(project?.priority)}}"></i></span>
          {{project?.title}}
        </h4>
        <div class="input" innerHtml="{{project?.description}}"></div>
      </div>

      <div class="state-toolbar col right" *ngIf="!progressIsLock() && isAuthStateChange()">
        <a href="#" class="btn btn-primary btn-sm" role="button" href="javascript:void(0)" style="margin-bottom: 0.5em;" (click)="confirmProgress()">
          <div class="subtitle only-lg">Avançar para o estágio...</div>
          <i class="bi bi-clipboard-check"></i>
          <div>
            {{ project?.nextState }}
          </div>
        </a>
        <a href="#" class="btn btn-danger btn-sm" role="button" (click)="cancelProject()" href="javascript:void(0)" >
          <i class="bi bi-x-circle"></i>
          <div>
            Cancelar Projeto
          </div>
        </a>
      </div>
    </div>

    <div style="padding-top: 1em; padding-left: 15px; padding-right: 15px;">
    <div class="detail">
      Clique para ver os comentários inseridos durante o progresso.
    </div>
    <div class="progress">
      <div *ngFor="let pg of project?.progress"
        class="progress-bar {{pg.state}} {{isActualProgress(pg)}} {{isProgressSelected(pg)}} clickable" role="progressbar"
        [style]="'width: ' + pg.percentual + '%'"
        aria-valuenow="{{pg.percentual}}" aria-valuemin="0"
        aria-valuemax="100" (click)="progressSelected = pg"
        data-toggle="tooltip" data-placement="top" title="Iniciado em {{pg.created | date: 'dd/MM/yyyy'}}">
        {{pg.state}}
      </div>
    </div>

    <div [hidden]="!progressSelected">
      <div class="detail">
        <span class="clickable" *ngIf="!progressSelected?.lock && hasAuthToComment()" data-toggle="modal" data-target="#addCommentModal" (click)="addCommentShow = true">
          <i class="icon bi bi-plus-circle"></i> considerações
        </span>
      </div>

      <ul class="list-group" *ngIf="progressSelected?.comments?.length > 0">
        <div class="comment">
          <li *ngFor="let comment of progressSelected?.comments" class="list-group-item list-group-item-action flex-column align-items-start">
            <div class="d-flex w-100 justify-content-between">
              <small><strong>{{comment.date | date: 'dd/MM/yyyy'}} às {{comment.date | date: 'HH:mm'}}</strong></small>
            </div>
            <p class="mb-1">{{comment.text}}</p>
            <small><strong>{{comment.author}}</strong></small>
          </li>
        </div>
      </ul>
    </div>
    </div>

  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addCommentModal" tabindex="-1" role="dialog" [class.show]="addCommentShow">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{project?.title}}
          <br><span class="subtitle">{{progressSelected?.state}}</span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="addCommentShow = false">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group" [formGroup]="commentForm">
          <label for="commentControl" [ngClass]="{'required': check('comment') }">Escreva suas considerações</label>
          <textarea [ngClass]="{'required': check('comment') }" class="form-control" id="commentControl" rows="3" formControlName="comment" autofocus></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="addComment()">Confirma</button>
      </div>
    </div>
  </div>
</div>
