
.subtitle {
  font-size: x-small;
  background: white;
  color: green !important;
  width: 13em;
  text-align: center;
}

.navbar-toggler {
  border-color: white;
  background: white;
}


.navbar-brand {
  max-width: 70%;

}

.selected {
  /* text-decoration: overline !important; */
  color: #13e413 !important;
}
