@media (max-width: 900px){
  .navbar-brand {
    font-size: larger;
  }
}

.subtitle {
  font-size: x-small;
  background: white;
  color: green !important;
  width: 13em;
  text-align: center;
}

.tag {
  position: absolute;
  width: fit-content;
  margin-left: 5px;
  font-size: 8px;
  padding: 2px;
  padding-top: 0;
  padding-bottom: 1px;
  background: white;
  color: green !important;
  text-align: center;
}

.navbar-toggler {
  border-color: white;
  background: white;
}


.navbar-brand {
  max-width: 70%;
}

.selected {
  color: #13e413 !important;
}
