@import "../_shared/css/pages.scss";

td > i {
  padding-right: 0.5em;
}

.table td {
  vertical-align: middle;
}

.table tr.clickable:hover {
  background: #e5f1e56e;
}

.clickable {
  color: rgb(90, 87, 87);
}

.PRAZO {
  color: #0ad60a;
}

.ATRASADO {
  color: red;
}

.CANCELADO {
  color: gray;
}

.FINALIZADO {
  color: blue;
}

.finished {
  color: lightgray;

  .subtitle {
    color: lightgray;
  }
}

.subtitle {
  font-size: x-small;
}

.high {
  color: red;
}

.medium-high {
  color: red;
}

.medium {
  color: blue;
}

.medium-low {
  color: gray;
}

.low {
  color: lightgray;
}
