<div class="container">
  <table class="table table-responsive-sm">
    <thead>
      <tr>
        <th scope="col-sm"></th>
        <th scope="col">Título</th>
        <!-- <th scope="col">Origem</th> -->
        <th scope="col">Prazo</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'finished': p.finished}" class="clickable" *ngFor="let p of projects" (click)="goDetails(p.code)">
        <td>
          <i *ngIf="!p.finished" [class]="p.status" class="bi bi-circle-fill"></i>
          <i *ngIf="p.finished" [class]="p.status" class="bi bi-check-circle-fill"></i>
        </td>
        <td>
          <div class="subtitle">
            <span class="header">
              [{{p?.department}}] | criado em {{p?.created}}
            </span>
          </div>
          {{p.title}}
        </td>
        <!-- <td>
          <div class="subtitle">
            <span class="header">
              [{{p?.department}}] | criado em {{p?.created}}
            </span>
          </div>
          <span class="only-lg">{{p?.department}}</span>
        </td> -->
        <td>{{p.expiresIn}}</td>
      </tr>
    </tbody>
  </table>
</div>
