<div class="container">
  <span *ngIf="!projects || projects.length == 0">No momento, ainda não há indicadores disponíveis.</span>

  <table *ngIf="projects && projects.length > 0" class="table table-responsive-sm">
    <thead>
      <tr>
        <th scope="col-sm"></th>
        <th scope="col">Título</th>
        <th scope="col">Prazo</th>
      </tr>
    </thead>
    <tbody>
      <tr [ngClass]="{'finished': p.finished}" class="clickable" *ngFor="let p of projects" (click)="goDetails(p.code)">
        <td>
          <span [class]="'icon ' + p?.status"><i class="bi bi-{{getIconState(p)}}"></i></span>
          <span [class]="'icon ' + p?.priority"><i class="bi bi-{{getPriorityClass(p?.priority)}}"></i></span>
        </td>
        <td>
          <div class="subtitle">
            <span class="header">
              [{{p?.department}}] | criado em {{p?.created | date: 'dd/MM/yyyy'}}
            </span>
          </div>
          {{p.title}}
        </td>
        <td>{{p.expiresIn | date: 'dd/MM/yyyy'}}</td>
      </tr>
    </tbody>
  </table>

  <div class="float-button clickable" routerLink="/projects/new">
    <i class="bi bi-plus-circle-fill"></i>
  </div>

</div>
