@import "../_shared/css/pages.scss";

.container{
  display: flex;
}

h1 {
  margin-top: revert !important;
}

.card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 0.5em 0.5em 0;
  min-width: 15em;
  width: 25em;
  max-width: 100%;
  height: 12em;
  max-height: 100%;

  .card-body {
    min-height: 2em;
  }

  .card-title{
    display: flex;
    align-items: baseline;
    margin-top: 0.5em;

    .title {
      font-size: 20px;
    }
  }

  .description{
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 4; /** número de linhas que você quer exibir */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.bottom {
  display:flex;
  margin-top:11px;
  align-items: center;
  position: absolute;
  bottom: 1em;
  width: 100%;
  right: 1em;

  span {
    margin-top:4px;
    font-size: 10px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    font-weight: 600;
  }
}

.header {
  position: absolute;
  top: 2em;
  font-size: xx-small;
}
