<div class="container">
  <span *ngIf="!indicators || indicators.length == 0">No momento, ainda não há indicadores disponíveis.</span>

  <div class="card" *ngFor="let card of indicators">
    <div class="card-body">
        <span class="header">[{{card.classifier}}]</span>
        <div class="card-title">
          <span class="title">{{card.title}}</span>
        </div>
        <div class="description" innerHtml="{{card.description}}">
        </div>
        <div class="bottom">
          <span class="clickable right" (click)="goGraphics(card)">ver gráfico >></span>
        </div>
    </div>
  </div>
</div>
